/* CSS Document */

/*
~~~~~~~~~~~~~~~~~~
Table of Contents
------------------
    Global Styles
    Layout
    Typography
    Components
~~~~~~~~~~~~~~~~~~
*/

/*
=============
Global Styles
=============
*/

body {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Text */
    font-family: Arial, Helvetica, sans-serif;
    /* Appearance */
    color: #fff;
    background-color: #aaf;
}

/*
======
Layout
======
*/

nav {
    /* Layout */
    padding: 10px;
    width: 100%;
    /* Appearance */
    background-color: #55f;
}

div#game-area {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin-top: 24px;
}

div.gamearea-section {
    /* Layout */
    flex-grow: 1;
}

div#player-section {
    /* Layout */
    display: flex;
    flex-flow: row nowrap;
}

/*
==========
Typography
==========
*/

h1 {
    /* Layout */
    margin: 0;
    /* Text */
    font-size: 36px;
}

/*
==========
Components
==========
*/

div.card {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 125px;
    width: 75px;
    /* Text */
    font-weight: bold;
    /* Appearance */
    border: 5px solid #e06200;
    border-radius: 8px;
    background-color: #ff7000;
}

div.player-card:hover {
    /* Appearance */
    cursor: pointer;
    box-shadow: 0px 2px 4px #000;
}