/* CSS Document */

/*
~~~~~~~~~~~~~~~~~~
Table of Contents
------------------
    Global Styles
    Layout
    Typography
    Components
~~~~~~~~~~~~~~~~~~
*/

/*
=============
Global Styles
=============
*/

body {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* Text */
    font-family: Arial, Helvetica, sans-serif;
    /* Appearance */
    color: #fff;
    background-color: #aaf;
}

/*
======
Layout
======
*/

nav {
    /* Layout */
    width: 100%;
    /* Appearance */
    background-color: #55f;
    box-shadow: 0px 0px 8px #0008;
}

div#game-area {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 24px;
}

div.gamearea-section {
    /* Layout */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

div#core {
    /* Layout */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex-grow: 2;
}

div#core > #battle-div {
    /* Layout */
    flex-grow: 1;
    /* Text */
    text-align: center;
}

div#core > .points-div {
    /* Layout */
    width: 125px;
    margin: 0 20px;
}

div#player-section {
    /* Layout */
    display: flex;
    padding: 0 64px;
    flex-flow: row nowrap;
}

/*
==========
Typography
==========
*/

h1 {
    /* Layout */
    margin: 8px 12px;
    /* Text */
    font-size: 36px;
}

/*
==========
Components
==========
*/

.card {
    /* Layout */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 125px;
    width: 75px;
    /* Text */
    font-weight: bold;
    /* Appearance */
    border-radius: 8px;
}

.opponent-card {
    /* Appearance */
    border: 5px solid #a90000;
    background-color: #d80000;
}

.player-card {
    /* Appearance */
    border: 5px solid #e06200;
    background-color: #ff7000;
}

.player-card:hover {
    /* Appearance */
    cursor: pointer;
    box-shadow: 0px 2px 4px #000;
}